<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<!-- Déclare les types MIME nécessaires pour Blazor -->
		<staticContent>
			<mimeMap fileExtension=".dll" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".wasm" mimeType="application/wasm" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
		</staticContent>

		<!-- Règle de réécriture pour Blazor SPA -->
		<rewrite>
			<rules>
				<rule name="BlazorRouting" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="/index.html" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>