<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>

		<!-- MIME types nécessaires -->
		<staticContent>
			<mimeMap fileExtension=".dll" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".wasm" mimeType="application/wasm" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />

			<!-- 🔥 AJOUT GLTF -->
			<mimeMap fileExtension=".gltf" mimeType="model/gltf+json" />
			<mimeMap fileExtension=".glb" mimeType="model/gltf-binary" />
			<mimeMap fileExtension=".bin" mimeType="application/octet-stream" />
		</staticContent>

		<!-- Rewrite Blazor SPA -->
		<rewrite>
			<rules>
				<rule name="BlazorRouting" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll">
						<!-- 🚫 NE PAS réécrire si le fichier existe -->
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="/index.html" />
				</rule>
			</rules>
		</rewrite>

	</system.webServer>
</configuration>
